body {
    font-family: sans-serif;
}

#game-board {
    border: solid 1px black;
    margin-bottom: 2em;
}

#game-board td {
    border: solid 4px black;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 45px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

button {
    background-color: #232323;
    width: 75px;
    height: 25px;
    color: turquoise;
    border: none;
    margin: 5px;
  }